
.list {
    width: 40%;
    color: aliceblue;
    border: 3px solid rgb(14, 133, 244);
    border-radius: 12px;
    background: rgb(82,80,77);
    background: linear-gradient(191deg, rgba(82,80,77,1) 0%, rgba(14,181,244,1) 52%, rgba(82,80,77,1) 100%);
  }
  